.navbar{display: grid;
        width: 100%;

    grid-template-columns: 1fr 1fr;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    background-color: rgb(4, 107, 85);
    position:sticky;
}

.list-item{
        grid-column:  2;
  display: grid;
  grid-auto-flow: column; /* Items side by side */
  gap: 30px;
  list-style-type: none;
  padding: 0;
  margin: 0;}
.list a{
 text-decoration: none;
  color:  rgb(245, 253, 252);
  font-size: 18px;
  position: relative;
  font-family:cursive;
  font-weight: bold;
  padding: 50px;

}
.list a:hover{
    color: black;
}
@media(max-width:768px){
    .navbar{
        grid-template-columns: 1fr;
        justify-items: center;
    }
    .list-item{
        grid-auto-flow: row;
        gap: 20px;
    }
    
}